.ufo-mainform.ufo-users{width:770px;}
.ufo-mainform.ufo-users .ufo-tab-wrapper{height:430px;}
.ufo-mainform.ufo-users .viewtable{height:330px;}

.ufo-mainform.ufo-orders{width:750px;}
.ufo-mainform.ufo-orders .ufo-tab-wrapper{height:390px;}
.ufo-mainform.ufo-orders .viewtable{height:333px;}

.ufo-mainform.ufo-applicationsettings{width:720px;}
.ufo-mainform.ufo-applicationsettings .ufo-tab-wrapper{height:410px;}

.ufo-mainform.ufo-customforms{width:864px;}
.ufo-mainform.ufo-customforms .ufo-tabs {height:430px;}


.ufo-mainform.ufo-customforms .ufo-tabs .ufo-tabs {height:360px;}
.ufo-mainform.ufo-customforms .ufo-tabs.ufo-customform-designer-div {height:auto;min-height:390px;}
.ufo-mainform.ufo-customforms .viewtable{height:380px;}

.ufo-mainform.ufo-customformsentries{
	min-width:300px;
	max-width:500px;
}

