table.ufo-pointer-table th {text-align:left;border:1px solid #aaa;margin:0;padding:3px 8px;font-size:11px;}
table.ufo-pointer-table td {border:1px solid #aaa;border-top:0;;margin:0;padding:2px 8px;font-size:11px;}
table.ufo-pointer-table {margin:5px 0;border-collapse:collapse;border:0;max-width:285px;}
